main, footer{
    padding: 8px 500px;
    display: flex;
    flex-direction: column;
}
.heroCard{
    display: flex;
    gap: 10px;
}
aside .list-group-item{
    color: var(--color-text-main);
    background: var(--color-text-muted);
}
.currentInterest{
    padding-left: 1.25rem;
    margin: 1rem 0;
    list-style: disc;
    box-sizing: content-box;
}
.webDevSection, .softwareDevSection{
    margin: 0 0 20px 0;
}
article .btn{
    background-color: var(--color-accent-primary);
    border-color: var(--color-accent-secondary);
}
article .btn:hover{
    opacity: .8;
    background-color: var(--color-accent-primary);
    border-color: var(--color-accent-secondary);
}
article .btn:focus{
    opacity: .8;
    background-color: var(--color-accent-primary);
    border-color: var(--color-accent-secondary);
    box-shadow: none !important;
}