#popUpCertification {
    display: none;              /* hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); 
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popUpContent img {
    max-width: 90%;
    border-radius: 10px;
}

#popUpCertification .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}