#popUpCertification {
    display: none;              
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8); 
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.popUpContent{
    display: flex;
    width: 100%;
    justify-content: center;
}

.popUpContent img {
  margin: auto;
  max-width: 50%;
}
#caption{
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 20px;
}
#popUpCertification .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}